@charset "ISO-8859-1";

body {
	background-color: #EAEAEA!important;
	user-select: none;
}

section {
	margin-top: 60px;
}

.bg-custom {
	background-color: #234E70 !important;
}

.btn-custom {
	background-color: #234E70 !important;
	-webkit-text-stroke-width: 0px;
	border-radius: 5px;
	color: white;
}

.btn-custom:hover {
	background-color: #1E405C !important;
	-webkit-text-stroke-width: 0px;
	color: white !important;
}

.btn-custom-sec {
	background-color: #234E70 !important;
	-webkit-text-stroke-width: 0px;
	border-radius: 5px;
	color: white;
}

.btn-custom-sec:hover {
	background-color: #300244 !important;
	-webkit-text-stroke-width: 0px;
}

/*home page banner*/
.banner {
	width: 100%;
	height: 92vh;
	background: linear-gradient(rgba(224, 224, 224, .9), rgba(224, 224, 224, .9)), url("../images/expense-reimbursements.png");
	color:  #1E405C;
	background-size: cover;
}

/*register page card*/
.card {
	background-color: #fff !important;
}

/*for number type input*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


/*sidebar*/
@media(max-width:767px) {
	.sidebar {
		height: 100vh !important;
		width: 70% !important;
	}

	.content {
		margin-left: 0% !important;
	}

	.dashboard {
		margin-left: 0 !important;


	}
}

.sidebar {
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
	background-color: #E0E0E0;
	padding: 10px;
	padding-top: 50px;
	width: 20%;
	border-right: 3px solid #e2e2e2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dashboard {
	margin-left: 20%;


	background-color: #EAEAEA !important;
}

.non-dashboard {
	margin-left: 10%;
}

.item {
	display: block;
	color: black;
	padding: 10px;
	border-radius: 5px;
}

.item:hover {
	background-color: #234E70;
	text-decoration: none;
	color: white !important;
}

.item i {
	margin-right: 5px;
}

.item i:hover {
	background-color: #1E405C !important;
}

.item.text-muted:hover {
	color: #6c757d !important;
}

.dropdown-menu {
	padding: 5px;
}

.dropdown-item {
	padding: 5px;
	border-radius: 5px;
}

.dropdown-item:hover {
	background-color: #234E70;
	color: white !important;
}

/*cross btn*/
.crossBtn {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 30px;
	cursor: pointer;
}

/*for navbar sidebar enable button*/
.navbar-brand i {
	padding: 5px !important;
}

.navbar-brand i:hover {
	background-color: #1E405C !important;
	padding: 5px;
	border-radius: 5px;
}

/*pagination styling*/
.page-link {
	color: #234E70 !important;
}

.page-link:hover {
	background-color: #1E405C !important;
	color: #fff !important;
	border: 1px solid #1E405C !important;
}

.page-item.active .page-link {
	color: #1E405C !important;
	background-color: #fff !important;
	border: 1px solid #1E405C !important;
}

.page-item.active .page-link:hover {
	color: #fff !important;
	background-color: #1E405C !important;
	border: 1px solid #1E405C !important;
}

.pagination>.active>a:hover {
	background-color: #1E405C !important;
	color: #fff !important;
	border: 1px solid #1E405C !important;
}

/*table container - to avoid overflow y */
/*.table-container {
	word-break: break-all;
}*/

/*view details link*/
.view-details-link {
	color: #234E70 !important;
}

/*for all read-only input*/
input[readonly] {
	/* Your styles for read-only input elements */
	background-color: #fff !important;
	/* Example background color */
	color: #000;
	/* Example text color */
	border: 2px solid #ccc;
	/* Example border style */
}

.notes-card {
	height: 150px;
	border: 2px solid #ccc;
	color: black;
}

/*view-analysis navlink*/
.nav-link.active {
	color: #1E405C !important;
}

.nav-link {
	color: #ccc;
}

.nav-link:hover {
	color: #1E405C;
}


/*dashboard card*/
.dashboard-card {
	border: 3px solid #234E70;
}


/*register page otp sec*/
.p-conf {
	width: calc(100% -22px);
	border: 2px solid green;
	border-radius: 4px;
	padding: 8px 10px;
	margin: 10px 0px;
	background-color: rgba(0, 249, 12, 0.5);
	display: none;
}

.n-conf {
	width: calc(100% -22px);
	border: 2px solid red;
	border-radius: 4px;
	padding: 8px 10px;
	margin: 10px 0px;
	background-color: rgba(255, 0, 0, 0.5);
	display: none;
}


.feature {
	height: 250px;
	border: 1px solid #234E70;
	transition: transform 0.2s;
}

.feature:hover {
	transform: scale(1.05);
}

/*search engine styling*/
.search-engine {
	position: relative;
}

.search-result {
	position: absolute;
	width: 100%;
	padding-right: 30px;
	display: none;
}


.nav-link {
	padding-left: 10px !important;
}