<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::baseFrag(~{::title},~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
</head>

<body>
	<section>

		<div class="container-fluid">
			<div class="row py-3">
				<div class="col-md-10 offset-md-1">
					<div class="card p-4">
						<h4 class="text-center mb-5"> <i class="fa-solid fa-circle-info"></i> About Smart Expense Tracker</h4>

						<h5 class="mb-4">Overview</h5>
						<p>Smart Expense Tracker is a user-friendly financial management application designed to help you
							gain control over your finances. Whether you're looking to track your expenses, set
							savings goals, or analyze your spending habits, Smart Expense Tracker has got you covered.</p>

						<h5 class="mb-4 mt-4">Key Features</h5>
						<div class="row">
							<div class="col-md-6">
								<div class="card mb-4 pt-3 feature">
									<div class="card-body text-center">
										<i class="fa-solid fa-money-check-dollar fa-2x mb-3"></i>
										<h5 class="card-title">Income Sources</h5>
										<p class="card-text mt-4">Easily manage your income sources.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card mb-4 pt-3 feature">
									<div class="card-body text-center">
										<i class="fa-solid fa-bag-shopping fa-2x text-center mb-3"></i>
										<h5 class="card-title">Expenses</h5>
										<p class="card-text mt-4">Effortlessly record and categorize your expenses.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card mb-4 pt-4 feature">
									<div class="card-body text-center">
										<i class="fa-solid fa-piggy-bank fa-2x mb-3"></i>
										<h5 class="card-title">Savings Goals</h5>
										<p class="card-text mt-4">Set financial goals and monitor your progress.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card mb-4 pt-4 feature">
									<div class="card-body text-center">
										<i class="fa-solid fa-magnifying-glass-chart fa-2x mb-3"></i>
										<h5 class="card-title">Analysis</h5>
										<p class="card-text mt-4">Unlock powerful financial insights with our analysis tools like 
											Expense
											Report, Expense Pie, and various graphs.
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

		</div>

	</section>
</body>

</html>