<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::baseFrag(~{::title},~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>View Income Sources</title>
</head>

<body>
	<section>
		<div class="container-fluid">
			<div class="row py-3">
				<div class="col-md-8 offset-md-2">
					<div class="card p-4">
						<h4 class="text-center"> View Income Sources <i class="fa-solid fa-money-check-dollar"></i></h4>
						<div th:if="${sources}">
							<div class="alert text-center mt-2" th:if="${message}" th:text="${message.content}"
								th:classappend="${message.type}">
							</div>
						</div>
						<div class="mt-2 table-container text-center" th:if="${sources}">
							<table class="table table-responsive-sm">
								<thead>
									<tr>
										<th scope="col">Sr. No.</th>
										<th scope="col">Description</th>
										<th scope="col">Type</th>
										<th scope="col">Earnings</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="is, status:${sources}">
										<th scope="row" th:text="${(currentPage*itemsPerPage)+status.count}"></th>
										<td><a class="view-details-link" th:text="${is.description}"
											th:href="@{'/user/income-source/view-income-source/'+${is.isId}}"></a></td>
										<td th:text="${is.type}">
										</td>
										<td th:text="${currencySymbol+' '+is.earnings}"></td>

									</tr>
								</tbody>
							</table>


							<!-- <nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									<li class="page-item" th:if="${currentPage!=0}">
										<a class="page-link"
											th:href="@{'/user/income-source/view-income-sources/'+${currentPage-1}}"
											aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li class="page-item" th:classappend="${currentPage==p-1?'active':''}"
										th:each="p:${#numbers.sequence(1, totalPages)}"><a class="page-link"
											th:href="@{'/user/income-source/view-income-sources/'+${p-1}}"><span
												th:text="${p}"></span></a></li>
									<li class="page-item" th:if="${currentPage!=totalPages-1}">
										<a class="page-link"
											th:href="@{'/user/income-source/view-income-sources/'+${currentPage+1}}"
											aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>
							</nav> -->

						</div>
						<div class="text-center" th:unless=${sources} th:if="${message}">
							<div class="alert text-center mt-2" th:text="${message.content}"
								th:classappend="${message.type}">
							</div>
							<a th:href="@{/user/income-source/add-income-source}" class="btn btn-custom">Add <i
									class="fa-solid fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>